/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: brown;
}

.container{
  width: 90%;
  margin: auto;
  padding: 1%;
}

/* CALCOLA IL PREZZO */
h2{
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

form{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.datiUte{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* IL TUO BIGLIETTO */
.hidden{
  display: none;
}

.visible{
  display: block;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.bordo{
  border: 1px solid #ccc;
  display: flex;
  min-height: 100px;
}

.padd{
  padding: 20px;
}

.info{
  background-color: #ccc;
}

h4{
  margin-bottom: 30px;
}
